extends layout

block content
  h1= title
  p Welcome to #[em Cab booking system]


  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else

    p The system has the following record counts:

    ul
      li #[strong Total cars:] !{data.book_count}
      li #[strong Available car for booking:] !{data.book_instance_available_count}
      
    
